# List
- `Lists`are collections in python which are defined using `[]` and collect various elements inside it(the elements are separated from each other by `,`)
- Lists are ordered, indexable and mutable
- Lists allow duplicate values

In [1]:
a = [10,11,12,13,14,15,16,17,18,19,20]
print(a)
print(type(a))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

In [2]:
a = [10,10,10.5,"asdfasdf"] # -> heterogenous [Can store any datatypes]
print(a)
print(type(a))

[10, 10, 10.5, 'asdfasdf']
<class 'list'>

In [3]:
a = list((0,2,10,45,78)) #-> tuple
print(a)
print(type(a))

[0, 2, 10, 45, 78]
<class 'list'>

# Selection of element from a list

In [4]:
a = [10,11,12,13,14,15,16,17,18,19,20]

In [5]:
a[1] = 100 #replace a element in a list
print(a)

[10, 100, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
a[1] = 11 #replace a element in a list
print(a)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
a[5]

15

In [8]:
a[10] # using forward index

20

In [9]:
a[-1] # using reverse indexing

20

In [10]:
len(a) # used to get length of the list

11

In [11]:
a[len(a)-1] # -1 is for correcting index

20

# Selection using slicing

In [12]:
a[0:3] # -> group of elements

[10, 11, 12]

In [13]:
a[::2] # hopping between elements with default start index & end index

[10, 12, 14, 16, 18, 20]

In [14]:
a[0:len(a):2]  # hopping by mentioning start index and end index

[10, 12, 14, 16, 18, 20]

In [15]:
a[5:11] # selection middle to last element

[15, 16, 17, 18, 19, 20]

In [16]:
a[5:len(a)] # selection middle to last element using len as end index

[15, 16, 17, 18, 19, 20]

In [17]:
a[5:] # selecting all after start index

[15, 16, 17, 18, 19, 20]

In [18]:
a[:6] # selecting all after end index

[10, 11, 12, 13, 14, 15]

In [19]:
a[1::2] # starting from 1 and hopping 2

[11, 13, 15, 17, 19]

In [20]:
a[1:len(a):2] # staring from 1 , end at len(a), hopping 2

[11, 13, 15, 17, 19]

In [21]:
a[::-1] # reverse selection [Reading a list in reverse order]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [22]:
a[10:2:-2]

[20, 18, 16, 14]

In [23]:
'''
Thumb rule

start index < end index; step should be positive 
start index > end index; step should be negative 

'''
a[10:0:2] # will not return a element

[]

In [24]:
a[45]

IndexError: list index out of range

# Operation in list

In [47]:
a = [100,92,86,41,74]
print(a)

[100, 92, 86, 41, 74]

In [48]:
a.append(15)
print(a)

[100, 92, 86, 41, 74, 15]

In [49]:
a.extend([86,71])
print(a)

[100, 92, 86, 41, 74, 15, 86, 71]

In [50]:
a.insert(1,1000)
print(a)

[100, 1000, 92, 86, 41, 74, 15, 86, 71]

In [51]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [52]:
a = [10,11,11,12,13]
a.remove(10)
print(a)

a.remove(11)
print(a)

[11, 11, 12, 13]
[11, 12, 13]

In [53]:
a = [10,11,11,12,13]
print("count of 11 in a list",a.count(11))

count of 11 in a list 2

In [54]:
a.remove(11)
a.remove(11)

In [55]:
print(a)

[10, 12, 13]

In [56]:
a = [11,15,78,2,4,100]
a.reverse() # only reverse
print(a)

[100, 4, 2, 78, 15, 11]

In [57]:
a.sort() # ascending order
print(a)

[2, 4, 11, 15, 78, 100]

In [58]:
a.sort() # ascending order
a.reverse() # desecending order

In [59]:
a.sort(reverse=True) # descending order
print(a)

[100, 78, 15, 11, 4, 2]

In [60]:
print(a.pop()) # poping the element from list and giving to user
print(a)

2
[100, 78, 15, 11, 4]

In [61]:
print(a.pop())
print(a)

4
[100, 78, 15, 11]

In [62]:
a = [10,11,11,12,13]
print(a.index(13))  # get the index of the element

4

In [63]:
a = [10,11,11,12,13]
print(a.index(11)) # get the index of first occurence

1

In [64]:
a.count(11) #-> find the occurence

2

In [65]:
a.clear() # deleted all element and give empty
a

[]

In [66]:
del a #-> delete the list from memory

In [67]:
a

NameError: name 'a' is not defined

In [68]:
a = [11,45,78,96]

del a[1]

In [69]:
a

[11, 78, 96]

In [70]:
a.pop(2)

96

In [71]:
a

[11, 78]

In [72]:
a = [11,15,78,2,4,100]
type(a[2])

int

In [73]:
type(a)

list

In [74]:
help(a.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

# Tuple
- Collection which can be indexed but immutable, (apple, 250)
- So once we declare the tuple, we can not edit the data
- tuple will be declared using `()`

In [75]:
a = (10,11,12,13,14,15,16,17,18,19,20)
print(a)
print(type(a))

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [76]:
a = (100) # not a tuple
print(a)
print(type(a))

100
<class 'int'>

In [77]:
a = (100,) # thjis is tuple
print(a)
print(type(a))

(100,)
<class 'tuple'>

In [78]:
a = (10,11,12,13,14,15,16,17,18,19,20)
a[1] = 100

TypeError: 'tuple' object does not support item assignment

In [79]:
print(a)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [80]:
a[0]

10

In [81]:
a[0:5]

(10, 11, 12, 13, 14)

In [82]:
a[::-1] # reverse selection

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10)

### Extending a Tuple

In [83]:
a = ("a","b")
print("Address of a",id(a))
b = ("c","d")
print("Address of b",id(b))

t1 = a + b
print("Address of t1",id(t1))
print("Value of t1",t1)

Address of a 140719285453520
Address of b 140719285664656
Address of t1 140719015495728
Value of t1 ('a', 'b', 'c', 'd')

### Replace in tuple

In [84]:
a = (10,11,12,13,14,15,16,17,18,19,20) # replacing in tuple using extend and selection
t1 = a[:5]+ (1200,) +a[6:]
print(t1)

print("Value of t1",id(t1))
print("Value of a",id(a))

(10, 11, 12, 13, 14, 1200, 16, 17, 18, 19, 20)
Value of t1 140719015466768
Value of a 140719015465040

### Mixed variable in tuple

In [85]:
a = (10,10.5,14,"asg")
print(a)
print(type(a))

(10, 10.5, 14, 'asg')
<class 'tuple'>

### Complex data structure

In [86]:
a = [("Sara",45),("Milan",15)]
print(a[0])
print(a[0][0])

('Sara', 45)
Sara

In [87]:
students = [
    (1, "sandhya", "data science", ["python","C"]),
    (2, "adarsh", "data science", ["python","java"]),
    (3, "shashank", "data science", ["C","C++"])
]

students

[(1, 'sandhya', 'data science', ['python', 'C']),
 (2, 'adarsh', 'data science', ['python', 'java']),
 (3, 'shashank', 'data science', ['C', 'C++'])]

In [88]:
### Packing and unpacking

In [89]:
a = 20
b = 10

t1 = (a,b) # packing

In [90]:
x, z = t1 # unpacking
print(x,z)

20 10

In [91]:
x, z, t = t1 # unpacking

ValueError: not enough values to unpack (expected 3, got 2)

# Type casting

In [92]:
a = [1,2,3,4]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4]

In [93]:
a = tuple(a  # conversion from any sequence variable to tuple
print(type(a))
print(a)

SyntaxError: invalid syntax (<ipython-input-93-bd79d55cd1ef>, line 2)

In [94]:
b = list(a) # conversion from any sequence variable to list
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4]

# Operation that can be done on sequence variable like list and tuple (if they have similar data type)

In [95]:
a = [10,11,12,13,14,15,16,17,18,19,20] # predefined function on list
print("Sum of a list",sum(a))
print("Min of a list",min(a))
print("Max of a list",max(a))
print("length of a list",len(a))
print("Sorted of a list",sorted(a))

Sum of a list 165
Min of a list 10
Max of a list 20
length of a list 11
Sorted of a list [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [96]:
a = (10,11,12,13,14,15,160,17,18,19,20) # predefined function on tuple
print("Sum of a list",sum(a))
print("Min of a list",min(a))
print("Max of a list",max(a))
print("length of a list",len(a))
print("Sorted of a list",sorted(a))

Sum of a list 309
Min of a list 10
Max of a list 160
length of a list 11
Sorted of a list [10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 160]

# Set

In [97]:
a = {10,1,2,8,100} # unordered and no indexing
print(a)
print(type(a))

{1, 2, 100, 8, 10}
<class 'set'>

In [98]:
a[0] # no selection using indexing

TypeError: 'set' object is not subscriptable

In [99]:
a.add(10000)
print(a)

{1, 2, 100, 8, 10, 10000}

In [100]:
a.remove(10000)
print(a)

{1, 2, 100, 8, 10}

### set operation

In [101]:
# union
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a | b
print(c)

c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [102]:
# intersection
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a & b
print(c)

c = a.intersection(b)
print(c)

{1, 2, 5}
{1, 2, 5}

In [103]:
# difference
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a - b
print("a-b",c)

c = a.difference(b)
print("a-b",c)


c = b -a
print("b-a",c)

c = b.difference(a)
print("b-a",c)

a-b {6, 7}
a-b {6, 7}
b-a {8, 9, 3, 4}
b-a {8, 9, 3, 4}

In [104]:
# symmetric difference
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a ^ b
print("a^b",c)

c = a.symmetric_difference(b)
print("a ^ b",c)

a^b {3, 4, 6, 7, 8, 9}
a ^ b {3, 4, 6, 7, 8, 9}

### type casting - set

In [105]:
a = [10,10,11,11,12]
a = set(a) # remove duplicates by converting to set
print(a)
a = list(a) # conversion back to list
print(a)

{10, 11, 12}
[10, 11, 12]

# Dictonary

In [106]:
a = {"K1":5, "k2":[4,5,6,7]}
print(a)
print(type(a))

{'K1': 5, 'k2': [4, 5, 6, 7]}
<class 'dict'>

In [107]:
a["K1"] # accessing a value -> need to pass a key

5

In [108]:
a["k2"]

[4, 5, 6, 7]

In [109]:
a["K3"] = "Hello batch 104" # addition of new key
print(a)

{'K1': 5, 'k2': [4, 5, 6, 7], 'K3': 'Hello batch 104'}

In [110]:
a.keys() # return only keys

dict_keys(['K1', 'k2', 'K3'])

In [111]:
a.values() #return only values

dict_values([5, [4, 5, 6, 7], 'Hello batch 104'])

In [112]:
a.items() # key value pair packed inside a tuple [Looping or iteration]

dict_items([('K1', 5), ('k2', [4, 5, 6, 7]), ('K3', 'Hello batch 104')])

In [113]:
a = {"K1":5, "K2":(4.5,6,7,8)}
b = {"K3":5, "K4":(4.5,6,7,8)}
a.update(b)
print(a)

{'K1': 5, 'K2': (4.5, 6, 7, 8), 'K3': 5, 'K4': (4.5, 6, 7, 8)}

In [114]:
a.clear()
print(a)

{}

In [115]:
a = {"K1":5, "K2":(4.5,6,7,8)}
a["k3"]

KeyError: 'k3'

In [116]:
print(a.get("K3","No value")) # get to access value [This prevent keyerror]

No value

In [117]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [118]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

# String

  
- A string is a sequence of characters.
- Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on    your screen, internally it is stored and manipulated as a combination of 0's and 1's.
- This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

## Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

In [119]:
a = "Data science is awesome"
print(a)
print(type(a))

Data science is awesome
<class 'str'>

**NOTE: String, List, Array indexing in Python always begins from 0**

## String Slicing / String Indexing

You can return a range of characters by using the slice syntax. Specify the start index and the end index, separated by a colon, to return a part of the string.

We will learn advanced slicing when we study lists. Most of the indexing and slicing operations will be similar. Remember, python lists are different than arrays.

The syntax for slicing is `var[start:stop:step]`
- start: the beginning index of the group of elements we want to access
- stop: the ending index of the group of elements we want to access
- step: how many elements to skip, when accessing a group of elements

In [120]:
a[0]

'D'

In [121]:
a[0:6]

'Data s'

In [122]:
a[::-1] # reverse selection

'emosewa si ecneics ataD'

In [123]:
a[0] = "d" #replacing a char in string

TypeError: 'str' object does not support item assignment

# Concatination of string and repeate

In [124]:
a = "*" # ***
print("**" * 3) # repeat sequence variable

******

In [125]:
a = "Data"
b = "Science"
c = "Data" + " "+"Science" # concatination
print(c)

Data Science

# String function / operations

#### replace

In [126]:
a = "Data science is awesome" 
print(a,end="\n\n") # \n is for new line
print("Address of a",id(a))

a = a.replace("awesome","good") # immutable type
print("Address of a after replacing",id(a),end="\n\n")
print(a)

Data science is awesome

Address of a 140719015867216
Address of a after replacing 140719015917328

Data science is good

#### upper

In [127]:
a = "Data science is awesome" 
print("Before  operation = ",a,end="\n\n") 

a = a.upper() # converting all char into uppercase
print("After operation = ",a)

Before  operation =  Data science is awesome

After operation =  DATA SCIENCE IS AWESOME

#### lower

In [128]:
a = "Data science is awesome" 
print("Before  operation = ",a,end="\n\n") 

a = a.lower() # converting all char into lowercase
print("After operation = ",a)

Before  operation =  Data science is awesome

After operation =  data science is awesome

In [129]:
#### swapcase

In [130]:
a = "Data science is awesome" 
print("Before  operation = ",a,end="\n\n") 

a = a.swapcase() # swapcase upper into lower case and vice versa
print("After operation = ",a)

Before  operation =  Data science is awesome

After operation =  dATA SCIENCE IS AWESOME

#### capitalize

In [131]:
a = "data science is awesome" 
print("Before  operation = ",a,end="\n\n") 

a = a.capitalize() # Capitialize
print("After operation = ",a)

Before  operation =  data science is awesome

After operation =  Data science is awesome

#### title

In [132]:
a = "data science is awesome" 
print("Before  operation = ",a,end="\n\n") 

a = a.title() # Start of each word will be capitialized
print("After operation = ",a)

Before  operation =  data science is awesome

After operation =  Data Science Is Awesome

#### casefold

In [133]:
a = "Data Science Is Awesome" 
print("Before  operation = ",a,end="\n\n") 

a = a.casefold() # case fold
print("After operation = ",a)

Before  operation =  Data Science Is Awesome

After operation =  data science is awesome

#### strip

In [134]:
a = "           Good morning    "
print("Before  operation = ",a,end="\n\n") 

a = a.strip() # trailing white space will be removed (Start and end)
print("After operation = ",a)

Before  operation =             Good morning

After operation =  Good morning

#### lstrip

In [135]:
a = "           Good morning    "
print("Before  operation = ",a,end="\n\n") 

a = a.lstrip() # trailing white space at left side
print("After operation = ",a)

Before  operation =             Good morning

After operation =  Good morning

#### rstrip

In [136]:
a = "           Good morning    "
print("Before  operation = ",a,end="\n\n") 

a = a.rstrip() # trailing white space at right side
print("After operation = ",a)

Before  operation =             Good morning

After operation =             Good morning

#### split

In [137]:
a = "Python is an interpreted, high-level and general-purpose programming language"
print("Before  operation = ",a,end="\n\n") 

words = a.split(" ") # split a sentence based on a patter provided
print("Before  operation = ",words,end="\n\n")

Before  operation =  Python is an interpreted, high-level and general-purpose programming language

Before  operation =  ['Python', 'is', 'an', 'interpreted,', 'high-level', 'and', 'general-purpose', 'programming', 'language']

#### join

In [138]:
words[3]  = words[3].upper()
print("Before  operation = ",words,end="\n\n")

sentence = " ".join(words) # joining the words to form a sentence
print("Before  operation = ",sentence,end="\n\n")

Before  operation =  ['Python', 'is', 'an', 'INTERPRETED,', 'high-level', 'and', 'general-purpose', 'programming', 'language']

Before  operation =  Python is an INTERPRETED, high-level and general-purpose programming language

#### len

In [139]:
a = "data science is awesome;,;asd rs.88" # count will include special character and number enclosed within a quotes
print("length of a string = ",len(a))

length of a string =  35

### str.count

In [140]:
a = "Hello world" 
a.count("l") # count the how time the pattern is repeated

3

# String search / condition check

#### find

In [141]:
a = "data science is awesome"

print("Start index of word science is = ",a.find("science")) # will provide a start index

Start index of word science is =  5

In [142]:
a = "data science is awesome"

print("Start index of word science is = ",a.find("test"))  # return -1 of element is not found

Start index of word science is =  -1

#### index

In [143]:
a = "data science is awesome"

print("Start index of word science is = ",a.index("science")) # will provide a start index

Start index of word science is =  5

In [144]:
a = "data science is awesome"

print("Start index of word science is = ",a.index("test")) # Will throw a error this is the reason we use find instead index

ValueError: substring not found

### isupper

In [145]:
a = "WELCOME"
a.isupper() # check for upper case [If all the case are upper its return TRUE]

True

In [146]:
a = "welcome"
a.islower()# check for lower case [If all the case are lower its return TRUE]

True

In [147]:
a = "23"
a.isdigit() # check whether its a digit

True

In [148]:
a = "23a"
a.isalnum() # check whether is alpha numerical character

True

In [149]:
a = "Hello world"
a.startswith("H") # start pattern check

True

In [150]:
a = "Hello world"
a.endswith("ld") # end pattern check

True

In [151]:
a = " "
a.isspace() # check for space

True

In [152]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [153]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

# Type conversion

In [154]:
a = [1,2,3] # list
print(a[0])
a = str(a)
print(a)
print(a[0])

1
[1, 2, 3]
[

In [155]:
a = 75 
b = str(a)

In [156]:
a = " 75aal for int() with base 10: ' 75a'
"
a = int(a)

SyntaxError: EOL while scanning string literal (<ipython-input-156-d0c3389a6aff>, line 1)

In [157]:
a = "23"
if a.isdigit():
    a = int(a)
    print("Conversion done")
else:
    print("error in the given input")

Conversion done

# Queries asked / Students Question solution

In [158]:
a = [10,11,10.5]
a.sort()

In [159]:
a

[10, 10.5, 11]

In [160]:
a = [10,11,10.5,"a"]
a.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [161]:
a = (5,6,8)
del a

In [162]:
a = (5,6,8)
del a[0]

TypeError: 'tuple' object doesn't support item deletion

# Home probelm -> Calculator code

In [165]:
# Simple code
a = float(input("Enter the first element"))
b = float(input("Enter the second element element"))

print(end="\n\n")
print("Added value =",a+b)
print("Subracted value =",a-b)
print("Mul value =",a*b)
print("Div value =",a/b)
print("modulous value =",a%b)
print("quo value =",a//b)
print("power a ^ b =",a**b)

Enter the first element5
Enter the second element element2


Added value = 7.0
Subracted value = 3.0
Mul value = 10.0
Div value = 2.5
modulous value = 1.0
quo value = 2.0
power a ^ b = 25.0

In [166]:
# Simple code with optimisation in print statement using 'f'  (format option)
a = float(input("Enter the first element"))
b = float(input("Enter the second element element"))

print(end="\n\n")
print(f"Added value = {a+b}; when a= {a} and b = {b}") #using format option instead of comma in print statement
print(f"Subracted value = {a-b}")
print(f"Mul value = {a*b}")
print(f"Div value = {a/b}")
print(f"modulous value = {a%b}")
print(f"quo value = {a//b}")
print(f"power a ^ b = {a**b}")

Enter the first element5
Enter the second element element3


Added value = 8.0; when a= 5.0 and b = 3.0
Subracted value = 2.0
Mul value = 15.0
Div value = 1.6666666666666667
modulous value = 2.0
quo value = 1.0
power a ^ b = 125.0