# List
- `Lists`are collections in python which are defined using `[]` and collect various elements inside it(the elements are separated from each other by `,`)
- Lists are ordered, indexable and mutable
- Lists allow duplicate values

In [2]:
a = [10,11,12,13,14,15,16,17,18,19,20]
print(a)
print(type(a))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

In [31]:
a = [10,10,10.5,"asdfasdf"] # -> heterogenous [Can store any datatypes]
print(a)
print(type(a))

[10, 10, 10.5, 'asdfasdf']
<class 'list'>

In [7]:
a = list((0,2,10,45,78)) #-> tuple
print(a)
print(type(a))

[0, 2, 10, 45, 78]
<class 'list'>

# Selection of element from a list

In [2]:
a = [10,11,12,13,14,15,16,17,18,19,20]

In [5]:
a[1] = 100 #replace a element in a list
print(a)

[10, 100, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
a[1] = 11 #replace a element in a list
print(a)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
a[5]

15

In [10]:
a[10] # using forward index

20

In [11]:
a[-1] # using reverse indexing

20

In [12]:
len(a) # used to get length of the list

11

In [14]:
a[len(a)-1] # -1 is for correcting index

20

# Selection using slicing

In [17]:
a[0:3] # -> group of elements

[10, 11, 12]

In [18]:
a[::2] # hopping between elements with default start index & end index

[10, 12, 14, 16, 18, 20]

In [19]:
a[0:len(a):2]  # hopping by mentioning start index and end index

[10, 12, 14, 16, 18, 20]

In [20]:
a[5:11] # selection middle to last element

[15, 16, 17, 18, 19, 20]

In [25]:
a[5:len(a)] # selection middle to last element using len as end index

[15, 16, 17, 18, 19, 20]

In [27]:
a[5:] # selecting all after start index

[15, 16, 17, 18, 19, 20]

In [28]:
a[:6] # selecting all after end index

[10, 11, 12, 13, 14, 15]

In [29]:
a[1::2] # starting from 1 and hopping 2

[11, 13, 15, 17, 19]

In [30]:
a[1:len(a):2] # staring from 1 , end at len(a), hopping 2

[11, 13, 15, 17, 19]

In [39]:
a[::-1] # reverse selection [Reading a list in reverse order]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [43]:
a[10:2:-2]

[20, 18, 16, 14]

In [48]:
'''
Thumb rule

start index < end index; step should be positive 
start index > end index; step should be negative 

'''
a[10:0:2] # will not return a element

[]

In [49]:
a[45]

IndexError: list index out of range

# Operation in list

In [62]:
a = [100,92,86,41,74]
print(a)

[100, 92, 86, 41, 74]

In [63]:
a.append(15)
print(a)

[100, 92, 86, 41, 74, 15]

In [64]:
a.extend([86,71])
print(a)

[100, 92, 86, 41, 74, 15, 86, 71]

In [65]:
a.insert(1,1000)
print(a)

[100, 1000, 92, 86, 41, 74, 15, 86, 71]

In [66]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [85]:
a = [10,11,11,12,13]
a.remove(10)
print(a)

a.remove(11)
print(a)

[11, 11, 12, 13]
[11, 12, 13]

In [86]:
a = [10,11,11,12,13]
print("count of 11 in a list",a.count(11))

count of 11 in a list 2

In [87]:
a.remove(11)
a.remove(11)

In [88]:
print(a)

[10, 12, 13]

In [93]:
a = [11,15,78,2,4,100]
a.reverse() # only reverse
print(a)

[100, 4, 2, 78, 15, 11]

In [94]:
a.sort() # ascending order
print(a)

[2, 4, 11, 15, 78, 100]

In [ ]:
a.sort() # ascending order
a.reverse() # desecending order

In [95]:
a.sort(reverse=True) # descending order
print(a)

[100, 78, 15, 11, 4, 2]

In [96]:
print(a.pop()) # poping the element from list and giving to user
print(a)

2
[100, 78, 15, 11, 4]

In [97]:
print(a.pop())
print(a)

4
[100, 78, 15, 11]

In [99]:
a = [10,11,11,12,13]
print(a.index(13))  # get the index of the element

4

In [101]:
a = [10,11,11,12,13]
print(a.index(11)) # get the index of first occurence

1

In [102]:
a.count(11) #-> find the occurence

2

In [104]:
a.clear() # deleted all element and give empty
a

[]

In [105]:
del a #-> delete the list from memory

In [106]:
a

NameError: name 'a' is not defined

In [115]:
a = [11,45,78,96]

del a[1]

In [116]:
a

[11, 78, 96]

In [109]:
a.pop(2)

96

In [110]:
a

[11, 78]

In [114]:
a = [11,15,78,2,4,100]
type(a[2])

int

In [113]:
type(a)

list

In [117]:
help(a.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

# Tuple
- Collection which can be indexed but immutable, (apple, 250)
- So once we declare the tuple, we can not edit the data
- tuple will be declared using `()`

In [8]:
a = (10,11,12,13,14,15,16,17,18,19,20)
print(a)
print(type(a))

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [11]:
a = (100) # not a tuple
print(a)
print(type(a))

100
<class 'int'>

In [12]:
a = (100,) # thjis is tuple
print(a)
print(type(a))

(100,)
<class 'tuple'>

In [16]:
a = (10,11,12,13,14,15,16,17,18,19,20)
a[1] = 100

TypeError: 'tuple' object does not support item assignment

In [22]:
print(a)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [23]:
a[0]

10

In [21]:
a[0:5]

(10, 11, 12, 13, 14)

In [20]:
a[::-1] # reverse selection

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10)

### Extending a Tuple

In [29]:
a = ("a","b")
print("Address of a",id(a))
b = ("c","d")
print("Address of b",id(b))

t1 = a + b
print("Address of t1",id(t1))
print("Value of t1",t1)

Address of a 140489490003440
Address of b 140489490002880
Address of t1 140489455422832
Value of t1 ('a', 'b', 'c', 'd')

### Replace in tuple

In [37]:
a = (10,11,12,13,14,15,16,17,18,19,20) # replacing in tuple using extend and selection
t1 = a[:5]+ (1200,) +a[6:]
print(t1)

print("Value of t1",id(t1))
print("Value of a",id(a))

(10, 11, 12, 13, 14, 1200, 16, 17, 18, 19, 20)
Value of t1 140489455859040
Value of a 140489455858608

### Mixed variable in tuple

In [39]:
a = (10,10.5,14,"asg")
print(a)
print(type(a))

(10, 10.5, 14, 'asg')
<class 'tuple'>

### Complex data structure

In [41]:
a = [("Sara",45),("Milan",15)]
print(a[0])
print(a[0][0])

('Sara', 45)
Sara

In [43]:
students = [
    (1, "sandhya", "data science", ["python","C"]),
    (2, "adarsh", "data science", ["python","java"]),
    (3, "shashank", "data science", ["C","C++"])
]

students

[(1, 'sandhya', 'data science', ['python', 'C']),
 (2, 'adarsh', 'data science', ['python', 'java']),
 (3, 'shashank', 'data science', ['C', 'C++'])]

In [53]:
### Packing and unpacking

In [66]:
a = 20
b = 10

t1 = (a,b) # packing

In [67]:
x, z = t1 # unpacking
print(x,z)

20 10

In [68]:
x, z, t = t1 # unpacking

ValueError: not enough values to unpack (expected 3, got 2)

# Type casting

In [47]:
a = [1,2,3,4]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4]

In [48]:
a = tuple(a  # conversion from any sequence variable to tuple
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4)

In [49]:
b = list(a) # conversion from any sequence variable to list
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4]

# Operation that can be done on sequence variable like list and tuple (if they have similar data type)

In [51]:
a = [10,11,12,13,14,15,16,17,18,19,20] # predefined function on list
print("Sum of a list",sum(a))
print("Min of a list",min(a))
print("Max of a list",max(a))
print("length of a list",len(a))
print("Sorted of a list",sorted(a))

Sum of a list 165
Min of a list 10
Max of a list 20
length of a list 11
Sorted of a list [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [72]:
a = (10,11,12,13,14,15,160,17,18,19,20) # predefined function on tuple
print("Sum of a list",sum(a))
print("Min of a list",min(a))
print("Max of a list",max(a))
print("length of a list",len(a))
print("Sorted of a list",sorted(a))

Sum of a list 309
Min of a list 10
Max of a list 160
length of a list 11
Sorted of a list [10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 160]

# Set

In [81]:
a = {10,1,2,8,100} # unordered and no indexing
print(a)
print(type(a))

{1, 2, 100, 8, 10}
<class 'set'>

In [82]:
a[0] # no selection using indexing

TypeError: 'set' object is not subscriptable

In [83]:
a.add(10000)
print(a)

{1, 2, 100, 8, 10, 10000}

In [84]:
a.remove(10000)
print(a)

{1, 2, 100, 8, 10}

### set operation

In [87]:
# union
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a | b
print(c)

c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [89]:
# intersection
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a & b
print(c)

c = a.intersection(b)
print(c)

{1, 2, 5}
{1, 2, 5}

In [91]:
# difference
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a - b
print("a-b",c)

c = a.difference(b)
print("a-b",c)


c = b -a
print("b-a",c)

c = b.difference(a)
print("b-a",c)

{6, 7}
{6, 7}
{8, 9, 3, 4}
{8, 9, 3, 4}

In [92]:
# symmetric difference
a = {5,6,7,1,2}
b = {1,2,3,4,5,8,9}

c = a ^ b
print("a^b",c)

c = a.symmetric_difference(b)
print("a ^ b",c)

a^b {3, 4, 6, 7, 8, 9}
a ^ b {3, 4, 6, 7, 8, 9}

### type casting - set

In [95]:
a = [10,10,11,11,12]
a = set(a) # remove duplicates by converting to set
print(a)
a = list(a) # conversion back to list
print(a)

{10, 11, 12}
[10, 11, 12]

# Dictonary

In [97]:
a = {"K1":5, "k2":[4,5,6,7]}
print(a)
print(type(a))

{'K1': 5, 'k2': [4, 5, 6, 7]}
<class 'dict'>

In [99]:
a["K1"] # accessing a value -> need to pass a key

5

In [100]:
a["k2"]

[4, 5, 6, 7]

In [103]:
a["K3"] = "Hello batch 104" # addition of new key
print(a)

{'K1': 5, 'k2': [4, 5, 6, 7], 'K3': 'Hello batch 104'}

In [105]:
a.keys() # return only keys

dict_keys(['K1', 'k2', 'K3'])

In [106]:
a.values() #return only values

dict_values([5, [4, 5, 6, 7], 'Hello batch 104'])

In [108]:
a.items() # key value pair packed inside a tuple [Looping or iteration]

dict_items([('K1', 5), ('k2', [4, 5, 6, 7]), ('K3', 'Hello batch 104')])

In [119]:
a = {"K1":5, "K2":(4.5,6,7,8)}
b = {"K3":5, "K4":(4.5,6,7,8)}
a.update(b)
print(a)

{'K1': 5, 'K2': (4.5, 6, 7, 8), 'K3': 5, 'K4': (4.5, 6, 7, 8)}

In [120]:
a.clear()
print(a)

{}

In [121]:
a = {"K1":5, "K2":(4.5,6,7,8)}
a["k3"]

KeyError: 'k3'

In [127]:
print(a.get("K3","No value")) # get to access value [This prevent keyerror]

No value

In [128]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [130]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

# Queries asked / Students Question solution

In [118]:
a = [10,11,10.5]
a.sort()

In [119]:
a

[10, 10.5, 11]

In [120]:
a = [10,11,10.5,"a"]
a.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [131]:
a = (5,6,8)
del a

In [132]:
a = (5,6,8)
del a[0]

TypeError: 'tuple' object doesn't support item deletion